.countvoncount {
    position: absolute;
    bottom: 0;
    right: 0;
}

.count {
    position: absolute;
    right: 570px;
    bottom: 370px;
    transition: all 1s ease;
    transform: scale(0);
}

.count.increment {
    transform: scale(3);
}

.incrementButton {
    font-size: 40px;
    padding: 20px;
}

.incrementInput {
    font-size: 40px;
    width: 100px;
    padding: 18px 10px;
}

.counter {
    font-family: system-ui;
    font-size: 40px;
    padding: 20px;
}
